# Backend
backend/node_modules/
backend/.env
backend/uploads/
backend/*.log

# Flutter
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/build/
app/.packages
app/pubspec.lock
app/android/.gradle/
app/android/local.properties
app/android/app/google-services.json
app/ios/.symlinks/
app/ios/Pods/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec

# General
.DS_Store
*.log
.idea/
.vscode/
